/*--Cores Padrão do Site--*/
:root{
    --blue: rgb(0, 204, 255);
    --bluehover: rgb(27, 124, 251);
    --light-blue: #8bebe6;
    --black: #222222;
    --white: #fff;
    --light-color: rgb(86, 85, 102);
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
}
section{
    padding: 2rem 9%;
}

a{
    text-decoration: none;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: var(--blue);
    text-transform: uppercase;
    font-weight: bold;
}
.heading span{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
}
.space{
    margin-top: 150px;
}

.hero-text {
    margin-left: 80px;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: var(--blue);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem
}

.btn:hover{
    background-color: var(--bluehover);
    color: var(--white);
}


/*-------------------------------------------*/
/*--------------Inicio Header----------------*/
/*-------------------------------------------*/
.nav{
    background-color: rgb(36, 36, 36);
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 70px;
    box-shadow:  0 0 1em rgb(56, 187, 248);
}
.nav ul{
    list-style: none;
    display: flex;
    margin: auto;
}
.nav a{
    font-size: 15px;
    padding: 24px 30px;
    color: var(--white);
    
}
.nav a:hover{
    background-color: rgb(0, 0, 0);
    height: 20px;
    border: 2px solid var(--blue);
    color: var(--blue);
}




/*-------------------------------------------*/
/*---------------Wallpaper-------------------*/
/*-------------------------------------------*/

.wallpaper{
    width: 100%;
    height: 52vh;
    background-image:url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container{
    width: 80%;
    height: 330px;
    background-color: var(--white);
    border-radius: 0 20px 20px 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;
    border-radius: 50%;
    border: 6px solid rgb(245, 245, 245);
}

.about-text{
    width: 50vw;
}
.about-text span{
    float: right;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-weight: bold;
    font-size: 23px;
    line-height: 0;
    padding-bottom: 20px;
}

.about-text p:nth-child(2) {
    color: #3e3d3d;
    font-size: 13px;
    font-weight: bold;
    line-height: 5px;
    margin-bottom: 17px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4),
.about-text p:nth-child(5){
    color: #7e7d7d;
    font-size: 16px;
    margin-bottom: 10px;
} 
/*-------------------------------------------*/
/*--------------Inicio formations------------*/
/*-------------------------------------------*/

.formations{
    margin-top: 100px;
}

.formations .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}

.formations .box-container .box{
    text-align: center;
    padding: 5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.formations .box-container .box i{
    height: 5.9rem;
    width: 5.9rem;
    line-height: 5.9rem;
    font-size: 2.5rem;
    color: var(--black);
    background: var(--blue);
    border-radius: 50%;
    margin-bottom: 1rem;
}

.formations .box-container .box h3{
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.formations .box-container .box:hover{
    background: var(--black);
}

.formations .box-container .box:hover h3{
    color: var(--white);
}

.formations .box-container .box:hover p{
    color: var(--white);
}

/*-------------------------------------------*/
/*--------------FIM formations---------------*/
/*-------------------------------------------*/

/*-------------------------------------------*/
/*---------------Inicio Icons----------------*/
/*-------------------------------------------*/

.icons-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24.7rem, 1fr));
    gap: 1.5rem;
    background: #eee;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.icons-container .icons img{
    height: 100%;
    width: 5rem;
    text-align: center;
    
}

.icons-container .icons .content h3{
    color: var(--blue);
    font-size: 2.5rem;
    cursor: default;
    font-weight: bold;
}

.icons-container .icons .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    cursor: default;
}

.icons-container .icons:hover{
    background: var(--black);
}
.unity{
    transition: all .25s linear;
}
.icons-container .icons:hover .unity{
    filter:brightness(100);
}

.icons-container .icons:hover i{
    background: var(--blue);
}

.icons-container .icons:hover .content h3{
    color: var(--white);
}

.icons-container .icons:hover .content p{
    color: var(--white);
}

/*-------------------------------------------*/
/*------------------Projects-----------------*/
/*-------------------------------------------*/

.projects_section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
}

.project{
    width: 300px;
    height: 300px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: var(--border);
}
.project:hover{
    background-color: var(--black);
    
}
.project:hover h1,
.project:hover p{
    color: var(--white);
}

.project img{
    margin-left: 15px;
    margin-top: 15px;
    width: 270px;
    border-radius: 10px;
    border: 2px solid #eee;
}
.project h1{
    margin-left: 5px;
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}
.project p{
    margin-left: 10px;
    font-size: 12px;
    margin-left: 20px;
}
.project button{
    background-color: var(--blue);
    height: 40px;
    width: 130px;
    margin: 10px 85px;
    border-radius: 10px;
    font-size: 15px;
}
.project button:hover{
    background-color: var(--bluehover);
    color: var(--white);
}

/*-------------------------------------------*/
/*---------------Footer----------------------*/
/*-------------------------------------------*/
footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}
footer span{
    height: 1px;
    width: 500px;
    background-color: var(--black);
    margin: 20px 0 50px 0;
}
footer p{
    font-size: 30px;
    color: var(--black);
    line-height: 10px;
    padding-bottom: 20px;
}
.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons a:hover{
    background-color: var(--black);
    color: var(--blue);
}
.social-icons{
    display: flex;
}
.social-icons i{
    color: var(--white);
    font-size: 24px;
}
.copyright{
    margin-top: 10px;
    color: var(--blue);
    font-size: 15px;

}


/*-------------------------------------------*/
/*---------------Dark Mode-------------------*/
/*-------------------------------------------*/

.dark{
    color: var(--white);
    font-size: 20px;
    margin-left: 40vw;
    cursor: pointer;
}
.dark_mode{
    background-color: #252525;
    color: var(--white);
}
.dark_mode .heading span{
    color: var(--blue);
}
.dark_mode .about-container{
    background-color: #333;
}

.dark_mode .project{
    background-color: #333;
}
.dark_mode .project:hover{
    background-color: rgb(31, 31, 31);
}
.dark_mode .about-container p{
    color: var(--white);
}
.dark_mode .about-container img{
    border: 6px solid rgb(68, 67, 67);
}
.dark_mode .box{
    background-color: #333;
}
.dark_mode .box-container .box h3{
    color: var(--white);
}
.dark_mode h1{
    color: var(--white);
}
.dark_mode p{
    color: var(--white);
}
.dark_mode footer p{
    color: var(--white);
}
.dark_mode .icons-container{
    background-color: #3e3d3d;
}
.dark_mode .icons-container .icons{
    background-color: #252525;
}
.dark_mode .icons-container .icons:hover{
    background-color: var(--white);
}
.dark_mode .icons-container .icons .unity{
    filter:brightness(100);
}
.dark_mode .icons-container .icons:hover .unity{
    filter:brightness(0);
}
.dark_mode .icons-container .icons:hover h3{
    color: #222222;
}

.dark_mode footer span{
    background-color: var(--white);
    
}

@media(max-width: 883px){
    .about-container{
        height: 400px;
    }
    .about-container img{
        height: 100px;
        border-radius: 50%;
        border: 6px solid rgb(245, 245, 245);
    }
    
}
@media(max-width: 618px){
    .about-container{
        width: 80%;
        height: 580px;
        display: block;
    }
    .about-container img{
        margin: 0 23%;
        height: 30vh;
        border-radius: 50%;
        border: 6px solid rgb(245, 245, 245);
    }
    
    .about-text{
        width: 100vh;
    }
    
    
    .about-text p:nth-child(1) {
        font-size: 23px;
        margin-left: 4vh;
    }
    
    .about-text p:nth-child(2) {
        font-size: 18px;
        margin-left: 4vh;
    }
    
    .about-text p:nth-child(3),
    .about-text p:nth-child(4),
    .about-text p:nth-child(5){
        font-size: 13px;
        margin-left: 4vh;
    } 

    .btn{
      margin-left: 4vh;
    }
}

@media(max-width: 590px){
    .about-container{
        height: 100vw;
        
    }
    .about-container img{
        margin: 0 28% 5vh 28%;
        height: 30vh;
        border-radius: 50%;
        border: 6px solid rgb(245, 245, 245);
    }
    
    
    .about-text p:nth-child(1) {
        font-size: 17px;
    }
    
    .about-text p:nth-child(2) {
        font-size: 14px;
        margin-left: 4vh;
    }
    
    .about-text p:nth-child(3),
    .about-text p:nth-child(4),
    .about-text p:nth-child(5){
        font-size: 10px;
        margin-left: 4vh;
    } 

}


